html,
body {
    height: 100%;
    margin: 0;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}

body {
    background: url('/assets/images/sky.avif') repeat center center fixed;
    background-size: auto;
    text-align: center;
    font-family: monospace;
    font-size: x-large;
}

canvas {
    border: 2px solid #222;
    display: block;
    margin: 0 auto;
    background: #f6f6f6;
}

button {
    margin-top: 10px;
    padding: 6px 12px;
}