html,
body {
    height: 100%;
    margin: 0;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}

body {
    background: rgb(182, 127, 26) repeat center center fixed;
    background-size: auto;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-family: monospace;
    font-size: x-large;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    margin: 0;
    display: flex;
    justify-content: center;
}

a {
    color: rgb(255, 255, 0);
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

select {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
}

article {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 10px;
}

h3 {
    margin: 0;
}

small {
    color: #ddd;
}

hr {
    border: none;
    height: 6px;
    background: rgb(127.5, 127.5, 127.5);
    margin-top: 0;
    margin-bottom: 10px;
}

nav {
    display: flex;
    align-items: center;
}

nav img {
    width: 64px;
    height: 64px;
    vertical-align: middle;
}