html,
body {
    height: 100%;
    margin: 0;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
    max-width: none;
}

body {
    background: url('/assets/images/sky.avif') repeat center center fixed;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-family: monospace;
    font-size: x-large;
    padding-left: 16px;
}