html,
body {
    height: 100%;
    margin: 0;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}

body {
    background: url('../images/sky.avif') repeat center center fixed;
    width: 350px;
    height: 350px;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-family: monospace;
    transform: scale(1.25);
    transform-origin: top left;
    width: 80%;
}

#dvd {
    position: fixed;

    width: 150px;
    aspect-ratio: 3 / 2;

    background: url("assets/images/dvd.png") no-repeat center;
    background-size: contain;

    pointer-events: none;
}