html,
body {
	height: 100%;
	margin: 0;
	overscroll-behavior: none;
	-webkit-overflow-scrolling: touch;
	max-width: none;
}

body {
	background: url('/assets/images/sky.avif') repeat center center fixed;
	color: white;
	text-shadow: 1px 1px 3px black;
	font-family: monospace;
	font-size: x-large;
	padding-left: 16px;
}

hr {
	border: none;
	height: 6px;
	background: rgb(127.5, 127.5, 127.5);
	margin-top: 0;
	margin-bottom: 10px;
}

nav {
	display: flex;
	align-items: center;
}

nav img {
	width: 64px;
	height: 64px;
	vertical-align: middle;
}