html,
body {
    height: 100%;
    margin: 0;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}

body {
    background: url('../images/sky.avif') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 3px black;
}