body {
    color: aqua;
    text-align: center;
    background-image: url(./h.jpg);
    word-break: break-all;
}

#biggie {
    font-size: 100px;
}

a {
    color: orangered;
    text-decoration: none;
}