body {
    background-image: url(./e.jpg);
    background-size: 300px 400px;
    font-size: x-large;
}

#biggie {
    font-size: 100px;
    color: white;
    font-family: 'Arial Black', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

#aich a {
    font-size: 150%;
    color: orangered;
}

#aich2 {
    color: aqua;
}


#aich2 a {
    color: orangered;
}